
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "FLASK_DEBUG=1 FLASK_ENV=production PYTHONUNBUFFERED=true gunicorn 'app:app' --bind '0.0.0.0:3000' --workers 4 --log-level debug --timeout 120"]
deploymentTarget = "cloudrun"
ignorePorts = false
build = ["sh", "-c", "pip install -r requirements.txt"]

[[ports]]
localPort = 80
externalPort = 3001

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Production Server"

[[workflows.workflow]]
name = "Production Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "FLASK_DEBUG=1 FLASK_ENV=production PYTHONUNBUFFERED=true gunicorn 'app:app' --bind '0.0.0.0:3000' --workers 4 --log-level debug --timeout 120"
waitForPort = 3000
