
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"
ignorePorts = false
build = ["sh", "-c", "pip install -r requirements.txt"]

[[ports]]
localPort = 5000
externalPort = 80
