{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1 class="page-heading mb-2 text-center">Find Me Everywhere</h1>
    <p class="page-subtext mb-4 text-center mx-auto">All my profiles and platforms in one place.</p>

    <div class="links-section centered-links">
        {% for link in social_links %}
        <a href="{{ link.url }}" 
           class="btn btn-link social-link"
           data-link-name="{{ link.name }}"
           target="_blank">
            {% if link.icon %}
            <i class="fab {{ link.icon }} me-2"></i>
            {% endif %}
            {{ link.name }}
        </a>
        {% endfor %}

        <a href="{{ site.github_url }}" 
           class="btn btn-link social-link"
           data-link-name="GitHub"
           target="_blank">
            <i class="fab fa-github me-2"></i>
            GitHub
        </a>
    </div>
</div>
{% endblock %}
